@font-face {
  font-family: "Libre Franklin";
  src: url("../assets/font/libre_franklin/LibreFranklin-Regular.ttf");
}

@font-face {
  font-family: "Bender";
  font-style: normal;
  src: url("../assets/font/bender/Bender.otf");
}

@font-face {
  font-family: "Bender";
  font-style: italic;
  src: url("../assets/font/bender/Bender Italic.otf");
}

@font-face {
  font-family: "Bender";
  font-style: bold;
  src: url("../assets/font/bender/Bender Bold.otf");
}