@import url("https://fonts.googleapis.com/css?family=Libre+Franklin&display=swap");

@font-face {
  font-family: "Libre Franklin";
  src: url("https://fonts.googleapis.com/css?family=Libre+Franklin&display=swap");
}

@font-face {
  font-family: "Bender";
  font-style: normal;
  src: url("../assets/font/Bender.otf");
}

@font-face {
  font-family: "Bender";
  font-style: italic;
  src: url("../assets/font/Bender Italic.otf");
}

@font-face {
  font-family: "Bender";
  font-style: bold;
  src: url("../assets/font/Bender Bold.otf");
}